<!-- Quiz1: 20150902 ~AMP -->
<h1>FHP Week 2</h1>
<h2>Quiz 1: I prove I can <b><i><span style="color:Indigo">change text color.</span></i></b></h2>
<br />
<p>Here is my content, just something I had lying around that is adorable:</p>
<br />

<div class="col-xs-12">
	<%= image_tag 'andthenthereswillsmith.jpg', class: 'img-responsive' %>
</div>

<br />
<br />
<br />
<%= link_to 'Home', root_path %>